/* HTML Standard Document */
* {
    font-family: VRRegular, Arial, Helvetica, sans-serif;
    text-decoration: none;
}

html {
    margin:0;
    padding:0;  
}

body {
    width:100vw;
    height:100vh;
    overflow-x: hidden;
    overflow-y: auto;
    z-index:1;
    margin:0;
    padding:0;
}

header {
    position: relative;
    height: 10vh;
    z-index:999;
    box-sizing: border-box;
}

main {
    position: relative;
    height: auto;
    z-index:1;
    box-sizing: border-box;
}

