@font-face {
    font-family: VRRegular;
    src: url(fonts/VRRegular.ttf) format("truetype");
    font-display: swap;
}

@font-face {
    font-family: Enso;
    src: url(fonts/Enso.ttf) format("truetype");
    font-display: swap;
}