/* Footer CSS */

footer {
    background-color: var(--jet_black);
    position: relative;
    height:8vh;
    z-index:1;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top:auto;
}

footer #copyright {
    font-size:1.4em;
    min-width: 140px;
    height:inherit;
    display: flex;
    flex:1 1 auto;
    align-items: center;
    margin-left:1.5em;
}

footer p#webmaker {
    visibility: hidden;
    font-size:1.15em;
    min-width: 80px;
    height:inherit;
    display: flex;
    flex:1 1 auto;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    padding-right: 0.65em;
    text-align: right;
    box-sizing: border-box;
}

footer div#finformation {
    text-align: center;
    min-width: 140px;
    height:inherit;
    display: flex;
    flex:1 1 auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

footer div#finformation a {
    margin:0;
    margin-left:2.5em;
    margin-right:2.5em;
    padding:0;
    font-size: 0.95em;
    color: var(--silver_accent) !important;
}

@media screen and (max-width:1450px) {
    footer #copyright {
        font-size:1.25em !important;
    }

    footer div#finformation a {
        font-size: 1em !important;
    }
}

@media screen and (max-width:750px) {

    footer #copyright {
        margin-left:0.35em !important;
        font-size: 0.5em !important;
    }
    
    footer div#finformation a {
        font-size: 0.4em !important;
        margin-left:0.25em !important;
        margin-right:0.25em !important;
    }

}

@media screen and (max-width:900px) and (orientation:portrait) {
    footer {
        height: 8vh !important;
    }

    footer #copyright {
        margin-left:0.35em !important;
        font-size: 0.75em !important;
    }
    
    footer div#finformation a {
        font-size: 0.65em !important;
        margin-left:0.25em !important;
        margin-right:0.25em !important;
    }
}

@media screen and (max-width:1200px) and (orientation:landscape) {
    footer {
        height: 16vh !important;
    }

    footer #copyright {
        margin-left:0.35em !important;
        font-size: 0.95em !important;
    }
    
    footer div#finformation a {
        font-size: 0.75em !important;
        margin-left:0.25em !important;
        margin-right:0.25em !important;
    }
}