footer {  
    position: relative;
    height:8vh;
    z-index:1;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

footer #copyright {
    font-family: VRSemiBold !important;
    font-size:1.1em;
    min-width: 140px;
    height:inherit;
    display: flex;
    flex:1 1 auto;
    align-items: center;
    margin-left:0.35em;
}

footer #copyright p{
    margin:0;
    padding:0;
}

footer #copyright #copyshort {
    display: none;
}

footer div#webmaker {
    font-family: VRSemiBold !important;
    font-size:1em;
    min-width: 80px;
    height:inherit;
    display: flex;
    flex:1 1 auto;
    align-items: center;
    justify-content: flex-end;
}

footer div#webmaker p {
    margin: 0;
    padding: 0;
    padding-right: 0.65em;
    text-align: right;
    box-sizing: border-box;
}

footer div#finformation {
    display: none;
}


footer div#finformation {
    font-size: 0.9em;
    text-align: center;
    min-width: 140px;
    height:inherit;
    display: flex;
    flex:1 1 auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

footer div#finformation a {
    margin:0;
    margin-left:2.5em;
    margin-right:2.5em;
    padding:0;
}



@media screen and (max-width:1450px) {
    footer #copyright p {
        font-size:1em;
    }

    footer #webmaker p {
        font-size:0.8em;
    }

    footer #finformation p {
        font-size: 0.75em;
    }
}

@media screen and (max-width:750px) {

    footer #copyright #copyshort {
        display: flex;
    }

    footer #copyright #copyshort p {
        font-size: 0.8em;
        font-weight: 350;
    }
    
    footer #copyright #copynormal {
        display: none;
    }

    footer #webmaker p {
        font-size:0.8em;
    }

    
    footer #finformation p {
        font-size: 0.75em;
        margin-left:0.25em;
        margin-right:0.25em;
    }

}