/* HTML Standard Document */

* {
    color:var(--text-color) !important;
    font-family: VRRegular, Arial, Helvetica, sans-serif;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

html {
    margin:0;
    padding:0;  
}

body {
    /* Main Color Kit */
    --text-color: #ffffff;
    --background-color: #101010;
    --accent_color: #333333;
    --secondary_accent_color:#555555;
    --third_accent_color:#222222;
    --jet_black:#000000;
    --silver_accent: #afafaf;
    --metal_color: #bbc2cc;
    --dark_silver_accent: #777777;
    --Crystal_blue: #00add8;
    --Clear_water_blue: #1082e0;
    --Light-Blue: #3bd4f7;
    
    width:100vw;
    height:100vh;
    overflow-x: hidden;
    overflow-y: auto;
    z-index:1;
    margin:0;
    padding:0;
    background-color:var(--background-color);
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
}

body.light {
    /* Main Color Kit */
    --text-color: #333333;
    --background-color: #eeeeee;
    --accent_color: #bbbbbb;
    --secondary_accent_color:#aaaaaa;
    --silver_accent: #afafaf;
    --metal_color: #bbc2cc;
    --dark_silver_accent: #777777;
}

header {
    position: relative;
    height: 10vh;
    z-index:999;
    box-sizing: border-box;
    background-color:var(--accent_color);
}

main {
    position: relative;
    height: auto;
    z-index:1;
    box-sizing: border-box;
}

@media screen and (max-width: 1200px) {
    header {
        height:12vh !important;
    }

    div.menu_content_container.activated {
        background-color: var(--accent_color);
        box-shadow: none !important;
    }

    .poked + .nav-phone {
        color:var(--Crystal_blue);
    }
}

@media screen and (width:720px) and (height:1280px) {
    header {
        height:11vh !important;
    }
}

/* Footer Personalization */

div#finformation a {
    color: var(--silver_accent);
}

div#webmaker p {
    color: var(--metal_color);
}

/* Personalized */

/* Relocated to the css/navig_foot_lib.css file */

/* Personalized Tag Changes */


/* Home Page */

div#homecontact a{
    color:var(--Crystal_blue);
}

/* showcase_lib file coloring */

div.title h1 {
    text-shadow: 0.075em 0.075em 5px var(--background-color);
}

div.title h3 {
    text-shadow: 0.095em 0.095em 5px var(--background-color);
}

div.catalog-container {
    background-color: var(--third_accent_color);
}

div.catalog-container div.showcase-container div.content-container {
    background-color: var(--background-color);
    
}

div.catalog-container h4 a {
    color:var(--Light-Blue);
}

a {
    text-decoration: none;
}

/* Arrows */

.arrow {
    font-size: 1.5em !important;
    font-family: Eleganticons !important;
    box-sizing: border-box;
    padding-bottom: 0.075em;
}

/* Links */
:link {
    color:var(--Clear_water_blue);
}

:visited {
    color:var(--Crystal_blue);
}