/* HTML Standard Document */

* {
    color:var(--text-color) !important;
    font-family: VRRegular, Arial, Helvetica, sans-serif;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    text-decoration: none
}

html {
    margin:0;
    padding:0;
    overflow-y: hidden;
    display: block !important;
}

body {
    /* Main Color Kit */
    --text-color: #ffffff;
    --background-color: #101010;
    --accent_color: #333333;
    --secondary_accent_color:#555555;
    --third_accent_color:#222222;
    --jet_black:#000000;
    --silver_accent: #afafaf;
    --metal_color: #bbc2cc;
    --dark_silver_accent: #777777;
    --Crystal_blue: #00add8;
    --Clear_water_blue: #1082e0;
    --Light-Blue: #3bd4f7;
    
    width:100vw;
    height:100vh;
    overflow-x: hidden;
    overflow-y: auto;
    z-index:1;
    margin:0;
    padding:0;
    background-color:var(--background-color);
    display: flex !important;
    flex: 0 0 auto;
    flex-direction: column;
}

body.light {
    /* Main Color Kit */
    --text-color: #333333;
    --background-color: #eeeeee;
    --accent_color: #bbbbbb;
    --secondary_accent_color:#aaaaaa;
    --silver_accent: #afafaf;
    --metal_color: #bbc2cc;
    --dark_silver_accent: #777777;
}

main {
    position: relative;
    height: auto;
    z-index:2;
    box-sizing: border-box;
}

/* @media screen and (max-width:480px) and (max-height:320px), screen and (min-width:300px) and (max-height: 500px) and (max-width:340px) and (min-height:460px) {
    * {
        display: none;
    }

    .unsupported {
        display: block !important;
        font-size:1em;
        text-align: center;
    }

    footer {
        display: none !important;
    }
} */

/* Arrows */

.arrow {
    font-size: 1.5em !important;
    font-family: Eleganticons !important;
    box-sizing: border-box;
    padding-bottom: 0.075em;
    transition: color 0.65s ease !important;
}

/* Links */
:link {
    color:var(--Clear_water_blue);
}

:visited {
    color:var(--Crystal_blue);
}

/* Go to top button */

button#gototop {
    display: none;
    width:1.75em;
    height:1.75em;
    background-color:var(--secondary_accent_color);
    position: fixed;
    bottom:1em;
    right: 1em;
    font-size: 2.25em !important;
    cursor: pointer;
    z-index: 10;
}

/* Unsupported */
.unsupported {
    display: none;
}