/* Navigation CSS */
div.navi {
    background-color: var(--jet_black);
    height: 9rem;
    flex:0 0 9rem;
}

/* Formerly #CCF, #NCF */
div#nav-bar {
    background-color: var(--jet_black);
    width: 100%;
    height: 9rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index:999;
    overflow-y:auto;
} 

div#nav-content {
    background-color: var(--jet_black);
    width: 100%;
    height: 80vh;
    display: none;
}

div#nav-bar * {
    z-index:999;
    position: relative;
}

div#logo-container {
    margin-right: auto;
    margin-left: auto;
}

div#logo-container a img {
    height:7rem;
}

a.nav-element, .nav-element.menu div {
    cursor:pointer;
    width:100%;
    height: 5rem;
    line-height: 5rem;
    text-align: center;
    vertical-align: middle;
}

a.nav-element {
    font-size: 1.75vw;
    transition: color 0.65s ease;
}

.nav-element.menu div {
    display: flex;
    fill: var(--text-color);
    width: 17.5vw;
    transition: fill 0.65s ease, height 0.65s ease, width 0.65s ease;
}

a.nav-element:hover {
    color:var(--Clear_water_blue) !important;
    transition: color 0.65s ease;
}

.nav-element.menu div:hover {
    fill:var(--Clear_water_blue) !important;
    transition: fill 0.65s ease;
}

p.mobile-menu {
    font-family: Eleganticons;
    font-size: 4rem;
    text-align: center;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    width:5.5rem;
    height:9rem;
    line-height:9rem;
    cursor: pointer;
}

div#settings {
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: auto;
    padding-bottom: 7.5%;
}

/* Open the menu */
div#nav-bar.accessed {
    transition: height 0.65s ease, width 0.65s ease;
    width:35vw;
    height:100vh;
    position: absolute;
    right:0;
    flex-direction: column;
}

p.mobile-menu.accessed {
    height: 9vh;
    line-height: 9vh;
    color: var(--Clear_water_blue) !important;
}

div#nav-bar.accessed div#logo-container {
    margin:0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 11vh;
    width: 100%;
}

div#nav-bar.accessed div#logo-container a img {
    height:9vh;
    padding-top:2vh;
}

div#nav-bar.accessed div#nav-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

div#nav-bar.accessed .menu ul li a {
    font-size: 1.4vw;
}

div#nav-bar.accessed .menu ul li {
    height:5.5vh;
    border-left:0.25em solid;
    padding-left:1em;
}

div#nav-bar.accessed .menu ul li.menu-header {
    border-bottom: 0.25em solid;
    border-color:var(--dark_silver_accent);
}

div#nav-bar.accessed .menu ul li.menu-header a {
    color: var(--dark_silver_accent) !important;
}

div#nav-bar.accessed .menu ul li.menu-header-child {
    padding-top: 0.75em;
}

div#nav-bar.accessed .menu ul {
    display: block;
    height:0;
    margin:0;
    padding:0;
    visibility: hidden;
    overflow:hidden;
    list-style-type: none;
    transition: height 0.65s ease, width 0.65s ease;
}

div#nav-bar.accessed .menu.accessed ul {
    visibility: visible;
}

/* Incase of mobile */
@media screen and (max-width:1300px) and (orientation:portrait) {
    div#nav-bar.accessed {
        width:100vw;
    }

    div#logo-container {
        width:80vw;
        margin-left:4vw;
    }

    div#logo-container a img {
        height:5.25rem;
    }    

    a.nav-element {
        font-size:6vw;
    }

    .nav-element.menu div {
        width:60vw;
    }

    div#nav-bar.accessed .menu ul li a {
        font-size: 5vw;
    }

    .nav_labels {
        width: 6.5vw !important;
        height: 6.5vw !important;
    }
    
    .nav_inputs {
        width:6.5vw !important;
        height: 6.5vw !important;
    }
}

/* Personalization */
.active {
    color: var(--Crystal_blue) !important;
}

.nav_labels {
    width: 2.5vw;
    height: 2.5vw;
    fill:white;
}

.nav_inputs {
    width:2vw;
    height: 2vw;
    margin:0;
    padding:0;
}

#dusk {
    padding-left:2.5em;
    padding-right:1em;
    fill: lightgrey;
}

#dawn {
    display: none;
    padding-left:2.5em;
    padding-right:1em;
    fill: orange;
}