/* Standard Navigation */
nav {
    z-index: 999;
    position: relative;
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

div#CCF, div#NCF {
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

nav * {
    font-size: 1.05em;
    z-index:999;
    position: relative;
}

div#logo_container {
    width:auto;
    margin:0;
    padding:0;
    padding-left:1vw;
    position:relative;
    float:left;
    z-index: 1000;
}

div#logo_container a {
    height:10vh;
    display:inline-block;
}

img#logo {
    height:inherit;
    display:inline-block;  
}
img#logo::before {
    height:inherit;
    display:inline-block;  
    padding-top:3.2vh;
    box-sizing: border-box;
}

nav a {
    margin:0;
    padding:0;
	position:relative;
}

/* Standard Menu Reaction */

div.nctab {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.flex-navig {
    display: none;
}

div.flex-navig.triggered {
    max-width: 450px;
    max-height: 1700px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex: 1 1 auto;
    align-items: flex-start;
    position: absolute;
    top:8vh;
}

/* Standard Menu Personalization */


.nctab:first-child {
    justify-content: center;
    align-items: center;
}

div.flex-navig a {
    max-width: 450px;
    min-width: 30px;
    max-height: 170px;
    min-height: 40px;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    padding-left: 0.75em;
    padding-right: 0.75em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    box-sizing: border-box;
}

.nav-header {
    width:100%;
    height: inherit;
    margin:0;
    padding:0;
    padding-left: 0.75em;
    padding-right: 0.75em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    box-sizing: border-box;
}

i.nav-phone {
    display:none;
}

/* Phone Menu CSS */

@media screen and (max-width: 1000px) {

    nav * {
        font-family: VRSemiBold;
        font-size: 1.10em !important;
    }

    i.nav-phone {
        max-width: 125px;
        min-width: 50px;
        max-height: 125px;
        min-height: 35px;
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left:auto;
        font-size:30px !important;
    }

    div#CCF {
        display: none !important;
    }

    div#CCF.poked, div#NCF {
        position: absolute;
        max-height: 1000px;
        min-height: 40px;
        width: 100%;
        height:auto !important;
        display: flex !important;
        flex: 5 1 auto;
        flex-direction: column !important;
        align-items: flex-start;
    }
    div#CCF.poked {
        top:8vh;        
    }

    .poked + .nav-phone {
        max-width:100% !important;
        margin-left:0 !important;
    }
    
    .navobj, .ncategory {
        max-height: 200px;
        min-height: 50px !important;
        width:100% !important;
        flex: 1 0 auto;
        justify-content: flex-start !important;
        padding-left:0.65em !important;
        box-sizing: border-box;
    }

    .ncategory:first-child {
        padding:0 !important;
    }

    .nctab {
        padding-left:0.65em;
    }

    div.flex-navig.triggered {
        width:100% !important;
        top:0px !important;
        position: relative;
    }

    div.flex-navig.triggered a {
        font-family: VRRegular !important;
        font-size: 1.025em !important;
        padding-left: 0.75em;
    }

    .active {
        font-size: 1.15em !important;
        font-family: VRBold;
    }

    .ncategory p {
        margin:0;
        padding:0;
    }

}

@media screen and (max-width:425px) {

    div#logo_container {
        height:10vh;
        width:50vw;
        margin:0;
        padding:0;
        padding-left:1vw;
        position:relative;
        float:left;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }
    
    div#logo_container a {
        height:9vh;
        width:90%;
        display:inline-block;
    }
    
}

/* Personalization */
.active {
    font-size: 1.10em;
    
}

.navobj, .ncategory {
    max-width: 400px;
    min-width: 100px;
    max-height: 200px;
    min-height: 10px;
    display:flex;
    flex: 0 1 auto;
    justify-content: center;
    align-items: center;
    text-align:center;
    height:100%;
    margin-top:auto;
    margin-bottom:auto;
    padding-left: 0.15em;
    padding-right: 0.15em;
}