div.catalog-container {
    width:100%;
    min-height: 10vmin;
    background-color: var(--third_accent_color);
    position: relative;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
}

div.showcase-container {
    width:90%;
    height:80%;
    display: flex;
    gap:1em;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding-top: 5.5em;
    padding-bottom: 5.5em;
    margin-left:5%;
    margin-right: 5%;
    justify-content: center;
}

div.content-container {
    position: relative;
    width:23em;
    height:23em;
    border-radius: 0.25em;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
}
.wide-tile {
    width:47em !important;
}

.wide-tile h1 {
    font-size: 2.25vw !important;
    margin-top: 0.5em !important;
}

.wide-tile img {
    width:75% !important;
}

.long-tile {
    height: 47em !important;
}

.long-tile img {
    width: 80% !important;
    padding-bottom:4.5em !important;
}

.long-tile.wide-tile h1 {
    font-size: 2.25vw !important;
    margin-top: 0.5vh !important;
}

div.content-container img {
    width:90%;
}

div.content-container h1 {
    display: inline-block;
    width: 90%;
    text-align: center;
    font-size: 2vw;
    font-weight: 400;
    margin:0;
    padding:0;
    margin-top:1em;
}

@media screen and (max-width:1300px) and (min-width: 750px) {
    div.showcase-container {
        gap:0.5em !important;
    }
    
    div.content-container {
        width:17em;
        height:17em;
    }
    .wide-tile {
        width:34.5em !important;
    }
    
    .long-tile {
        height: 34.5em !important;
    }
}


@media screen and (max-width:750px) and (min-width: 500px) {
    div.showcase-container {
        gap:0.5em !important;
    }
    
    div.content-container {
        width:12em;
        height:12em;
    }
    .wide-tile {
        width:24.5em !important;
    }
    
    .long-tile {
        height: 24.5em !important;
    }

    div.content-container h1 {
        font-size: 3.25vw !important;
    }
    
    .wide-tile h1 {
        font-size: 3.75vw !important;
    }
}


@media screen and (max-width:500px) {
    div.showcase-container {
        gap:0.5em !important;
    }
    
    div.content-container {
        width:9em;
        height:9em;
    }
    .wide-tile {
        width:18.5em !important;
    }
    
    .long-tile {
        height: 18.5em !important;
    }

    div.content-container h1 {
        font-size: 4.25vw !important;
    }
    
    .wide-tile h1 {
        font-size: 4.75vw !important;
    }
}