div.catalog-container {
    width:100%;
    height:auto;
    position: relative;
    display: flex;
    flex:1 1 auto;
    flex-direction: column;
    justify-content: center;
}

div.catalog-container div.catalog-text {
    height: 20vmin;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    justify-content: center;
}

div.catalog-container div.catalog-text h3 {
    font-size: 5vmin;
    font-weight: 500;
    font-family: Enso !important;
    letter-spacing: 0.1em;
    padding:0;
    margin:0;
}

div.catalog-container div.catalog-text h5 {
    font-size: 2.5vmin;
    font-weight: 500;
    font-family: Enso !important;
    letter-spacing: 0.1em;
    padding:0;
    margin:0;
    top:0.75vmin;
    position: relative;
}

div.catalog-container div#showcase-container {
    width:90%;
    height:60%;
    display: grid;
    grid-template-columns: 23vmin 23vmin 23vmin 23vmin 23vmin;
    column-gap: 12vmin;
    box-sizing: border-box;
    padding-bottom: 3.5em;
    margin-left:5%;
    margin-right: 5%;
}

div.catalog-container div#showcase-container div.content-container {
    position: relative;
    border-radius: 2.5vmin;
    width:23vmin;
    height:23vmin;
    display: flex;
    flex-direction: column;
    flex: 0 0 23vmin;
    justify-content: center;
    align-items: center;
}

div.catalog-container div#showcase-container div.content-container div {
    position: relative;
    top:7.5%;
    display: flex;
    justify-content: center;
}

div.catalog-container div#showcase-container div.content-container img {
    width:90%;
}

div.catalog-container div#showcase-container div.content-container h1 {
    display: inline-block;
    width: 90%;
    text-align: center;
    top:100%;
    font-size: 2.5vmin;
    font-weight: 400;
    letter-spacing: 0.1vmin;
    margin:0;
    padding:0;
    margin-bottom:0.75vmin;
}

div.catalog-container div#showcase-container div.content-container p {
    display: inline-block;
    width:90%;
    top:135%;
    font-size: 1.5vmin;
    letter-spacing: 0.1vmin;
    text-align: center;
    margin:0;
    padding:0;
    padding-top:0.01em;
}

@media screen and (max-width: 1000px) {

    div.catalog-container {
        width:100%;
        height:125vh;
        position: relative;
        display: flex;
        flex:0 0 auto;
        justify-content: center;
    }
    
    div.catalog-container div#catalogtext {
        width:100%;
        height:10%;
        display: flex;
        flex: 0 0 auto;
        justify-content: center;
        align-items: center;
        position: absolute;
        top:0;
    }
    
    div.catalog-container div#catalogtext h2 {
        font-size: 2em;
        font-weight: 200;
        letter-spacing: 0.125em;
    }
    
    div.catalog-container div#showcase-container {
        width:95%;
        height:90%;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        column-gap: 1em;
        row-gap: 1em;
        top:10%;
        box-sizing: border-box;
        padding-bottom: 1.5em;
    }

    div.catalog-container div#showcase-container div.content-container {
        border-radius: 7.5%;
    }

    div.catalog-container div#showcase-container div.content-container div {
        top:5%;
    }

    div.catalog-container div#showcase-container div.content-container img {
        width:85%;
    }
    
    div.catalog-container div#showcase-container div.content-container h1 {
        top:75%;
        font-size: 0.9em;
        font-weight: 400;
        letter-spacing: 0.125em;
    }
    
    div.catalog-container div#showcase-container div.content-container p {
        width:85%;
        top:105%;
        font-size: 0.5em;
        letter-spacing: 0.125em;
    }

    div#impinfo {
        width:100%;
        height:18vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    div#impinfo p {
        font-size: 0.8em;
        letter-spacing: 0.125em;
    }
    
    div#impinfo i {
        font-weight: 700;
        font-size: 1em;
        letter-spacing: 0.125em;
    }

}
div#impinfo {
    width:100%;
    height:10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div#impinfo p {
    margin:0;
    padding:0;
    width:90%;
    display: inline;
    font-size: 0.9em;
    letter-spacing: 0.125em;
}

div#impinfo i {
    display: inline;
    font-weight: 700;
    font-size: 1.15em;
    letter-spacing: 0.125em;
}