* {
	color:white;
	font-family:arial;
}
#center {
	margin:0;
	padding:0;
	height: 90vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}
div img {
	width:50vw;
}
html {
	height:100%;
	width:100%;
}
body {
	background-color:#0a0a0a;
	height:100vh;
	width:100vw;
	margin:0;
	padding:0;
}
footer {
	background-color:#000000;
	padding:0;
	margin:0;
	height:10vh;
	position:relative;
	display: flex;
	flex: 0 0 auto;
	align-items: center;
}
footer p {
	padding:0;
	margin:0;
	font-size:1.5em;
	padding-left:2%;
}