<!DOCTYPE html>
<html> 
    <head id="dyn">
        <title>Tapellino | Home</title>
        <!--<base href="https://www.tapellino.com/" /> -->
        <meta charset="utf-8" />
        <meta name="author" content="SinmisDev" />
        <meta name="description" content="Printing/Cutting/Producing your digital design into the world" />
        <meta name="keywords" content="tapellino, tapellino signs, limassol signs, signs limassol, sign shop, stickers limassol, limassol stickers, printing shop, print shop" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- <script src="js/dynamicview.js"></script>  -->
        <link href="css/fontsrenderer.css" rel="stylesheet" />
        <link href="css/colors.css" rel="stylesheet" />
        <link href="css/standard.css" rel="stylesheet" />
        <link href="css/navigation.css" rel="stylesheet" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
        <link href="https://www.tapellino.com/" rel="canonical" />
    </head>
    <body>
        <header>
            <nav>
                <div id="logo_container">
                    <a href="https://www.tapellino.com">
                        <img id=logo src="images/tapellino.png" alt="Tapellino Signs" />
                    </a>
                </div>
                <div id="NCF">
                    <div id="CCF">
                        <div class="navobj">
                            <a href="https://www.tapellino.com"> 
                                Home
                            </a>
                        </div>

                        <div class="nctab">
                            <div id="ntprode" class="nct ncategory">
                                <p class="ncategory">Products / Services</p>
                                <div class="arrow down"></div>
                            </div>
                            <div id="ntprodr" class="flex-navig">
                                <a>Outdoor Signs</a>
                                <a>Illuminated Signs</a>
                                <a>Exterior Signs</a>
                                <a>3D Exterior Signs</a>
                                <a>Indoor Signs</a>
                                <a>Stickers</a>
                                <a>Digital Printing</a>
                                <a>Banners</a>
                                <a>Acrylic Fabrication</a>
                                <a>Laser Cutting</a>
                            </div>
                        </div>

                        <div class="nctab">
                            <div id="ntporte" class="nct ncategory">
                                <p class="ncategory">Portfolio</p>
                                <div class="arrow down"></div>
                            </div>
                            <div id="ntportr" class="flex-navig">
                            
                            </div>
                        </div>
                    
                        <div class="navobj">
                            <a href="contact"> 
                                Contact
                            </a>
                        </div>
                    </div>
                    
                    <i id="phone-opener" class="fa fa-bars nav-phone"></i>
                </div>
            </nav>
        </header>
        <main>
            <div>
                <div>
                    <div>
                        
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <p>©2021 | Tapellino Signs | All Rights Reserved</p>
        </footer>
        <script src="js/navig.js"></script>
    </body>
</html>