div.title {
    position: relative;
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
}

.title-background {
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    filter:blur(2.5px) brightness(0.75);
    z-index: -1;
}

.title-background:focus {
    background-color: none;
}

div.title div.title-text h1 {
    position: absolute;
    top:28%;

}

div.title div.title-text h3 {
    position: absolute;
    top:27.5%;
}

div.title div.title-indent {
    position: relative;
    left:9.5%;
}

div.information-panel {
    width:100%;
    min-height: 15vmin;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    position: relative;
}

div.information-panel div {
    width:80%;
    display: flex;
}

div.information-panel h3 {
    font-size: 1.5vmin;
    font-weight: 200;
    letter-spacing: 0.05vmin;
    width:60%;
    padding-left:2.5%;
    padding-right:2.5%;
}

div.information-panel img {
    width: 35%;
}

/* Per page text */

#stickerpageimg {
    background-image: url("../images/stickersheader.svg");
}

div#stickerpagetext {
    width: auto;
    height: 60%;
    position: absolute !important;
    top:0;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    z-index: 10;
}

div#stickerpagetext h1 {
    font-size: 14vmin;
    font-weight: 500;
    font-family: Enso !important;
    letter-spacing: 0.1em;
    padding:0;
    margin:0;
}


div#stickerpagetext h3 {
    font-size: 3.75vmin;
    font-weight: 500;
    font-family: Enso !important;
    letter-spacing: 0.1em;
    padding:0;
    margin:0;
    padding-bottom: 3em;
}

/* Smaller screen support */

@media screen and (max-width: 1000px) {
    div.title div#stickerpagetext.title-text h1 {
        font-size: 11.5vmin;
    }

    div.title div.title-text h1 {
        top:27%;
    
    }
    
    div.title div.title-text h3 {
        top:23.5%;
    }

    div.title-text.title-indent {
        left:4.5% !important;
    }

}

/* Effect ids/classes */

.title-indent {
    padding-left:5%;
}

#cover {
    position: relative;
    top:50%;
    width:100%;
    min-height:25vmin;
    display: inline-flex;
    flex: 1 0 auto;
    flex-direction: column;
    align-items: center;
}