@font-face {
    font-family: VRMedium;
    src: url(fonts/VRMedium.otf) format("opentype");
}

@font-face {
    font-family: VRRegular;
    src: url(fonts/VRRegular.otf) format("opentype");
}
@font-face {
    font-family: VRBold;
    src: url(fonts/VRBold.otf) format("opentype");
}

@font-face {
    font-family: VRSemiBold;
    src: url(fonts/VRSemiBold.otf) format("opentype");
}

@font-face {
    font-family: Enso;
    src: url(fonts/Enso.ttf) format("truetype");
}